.navbar {
    position: fixed;
    top: 0;          
    left: 0;         
    width: 99%;     
    display: flex;   
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff; 
    color: white;             
    z-index: 1000;            
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  

  .app-content {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
  }